*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: #33475B;
}

/* Common classes */

.container{
    width: 80%;
    margin: auto;
    height: 100%;
    position: relative;
}

body a{
    text-decoration: none;
    color: #33475B;
}

.btn{
    border-radius: 5px;
}


/*********
Header 
*********/

/* Top navbar */

.top_nav, nav{
    height: 80px;
    background-color: #F4F9FD;
    font-family: Arial, Helvetica, sans-serif;
}

.globe svg path{
    fill: #33475B;
}

.nav_col_1, .nav_col_2{
    float: left;
    width: 50%;
}

/* Left side top navbar */
.nav_col_1{
    text-align: left;
}


.nav_col_1>form{
    display: inline-block;
    line-height: 80px;
    margin-right: 15px;
}

.nav_col_1>form select{
    border: none;
    background-color: #F4F9FD;
    width: 65px;
}

.nav_col_1 a{
    font-size: 14px;
    margin-left: 15px;
}


/* Right side top navbar */
.nav_col_2{
    text-align: right;
}

.search{
    height: 15px;
    vertical-align: middle;
}

.nav_col_2 a{
    line-height: 80px;
}

.btn_empty{
    border: 1px solid #FE775A;
    color: #FE775A;
    padding: 10px;
    margin: 0 20px;
}

.btn_empty:hover{
    color: white;
    background-color: #FE775A;
}

.btn_full{
    background-color: #FE775A;
    color: white;
    padding: 10px;
}

.btn_full:hover{
    background-color: #F4F9FD;
    color: #FE775A;
    border: 1px solid #FE775A;
}

/* Bottom navbar */

.bot_nav{
    height: 80px;
    background-color: white;
    position: relative;
}

.bot_nav .logo{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.bot_nav_col_1, .bot_nav_col_2{
    width: 50%;
    float: left;
    height: 80px;
}

.bot_nav_col_2{
    text-align: right;
}
.bot_nav_col_2>form{
    display: inline-block;
    line-height: 80px;
}

.bot_nav_col_2>form select{
    border: none;
}

.bot_nav_col_2 a{
    font-size: 14px;
}

.bot_nav_col_2 a, .bot_nav_col_2>form select{
    padding: 0 15px;
}

/* Jumbotron */

.jumbotron{
    height: 608px;
    background-image: url(../assets/img/jumbotron.png);
    background-position: 50% 0%;
    border-bottom: 3px solid #33475B;
}


.hero_text{
    width: 50%;
    position: absolute;
    top: 60px;
}

.hero_text h1{
    font-size: 2.7rem;
 
}

.hero_text p{
    margin: 50px 0;

    font-size: 14px;
    line-height: 28px;
}

.hero_btn_full{
    background-color: #FE775A;
    color: white;
    padding: 20px 40px;
}

.hero_btn_full:hover{
    background-color: #F4F9FD;
    color: #FE775A;
    border: 1px solid #FE775A;
}

/*********
Main 
*********/
#site_main{
    background-color: #F4F9FD;
}

.light_blue_bar{
    height: 80px;
    background-color:#AFEBE4 ;
    border-bottom: 3px solid #33475B;
}

/* cube section */
.cube{
    text-align: center;
}

.cube_img{
    height: 180px;
    margin-top: 50px;
}

.cube h2{
    font-size: 2rem;
}

.cube p{
    padding: 30px 0 ;
    line-height: 24px;
    font-size: 12px;
}

.row{
    width: 60%;
    margin: auto;
}

/* large white card */
.large_card{
    background-color: white;
    height: 340px;
}

.col_40, .col_60{
    float: left;
}
.col_40{
    width: 40%;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.book{
    height: 100px;
    margin: 70px 0;
}

#learn_btn{
    margin: 30px 0;
    padding: 15px 30px;
}

.col_60{
    width: 60%;
    text-align: left;
    padding-top: 60px;
}

.col_60 p{
    line-height: 20px;
    font-size: 12px;
    margin-top: 40px;
    padding-right: 110px;
}

.col_60 h4{
    padding: 30px 30px 30px 0;
    display: inline-block;
}

.col_60 h4::after{
    content: "";
    width: 260px;
    height: 1px;
    background-color: #33475B;
    display: inline-block;
    vertical-align: middle;
    margin-left: 40px;
}


.col_60 ul li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    font-size: 12px;
    margin-top: 20px;
}

.circle{
    line-height: 16px;
    background-color: #FE775A;
    padding: 2px;
    border-radius: 50%;
    margin-right: 10px;
    color: white;
}

/*********
Footer
*********/

#site_footer{
    height: 620px;
    background-color: #F4F9FD;
}