*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: #33475B;
    min-width: 1200px;
}

/* Common classes */

.container{
    width: 80%;
    margin: auto;
    height: 100%;
    position: relative;
}

body a{
    text-decoration: none;
    color: #33475B;
}

.btn{
    border-radius: 5px;
}

.btn_empty{
    border: 1px solid #FE775A;
    color: #FE775A;
    padding: 10px;
    margin: 0 20px;
    background-color: white;
}

.btn_empty:hover{
    color: white;
    background-color: #FE775A;
}

.btn_full{
    background-color: #FE775A;
    color: white;
    padding: 10px;
    border: 1px solid #FE775A; 
}

.btn_full:hover{
    background-color: white;
    color: #FE775A;
    border: 1px solid #FE775A;
}

.fa-check-circle{
    color: #FE775A;
    margin-right: 10px;
}

/*********
Header 
*********/

header form select{
    color: #33475B;
}

/* Top navbar */

.top_nav, nav{
    height: 80px;
    background-color: #F4F9FD;
    font-family: Arial, Helvetica, sans-serif;
}

.top_nav{
    border-bottom: 1px solid #33475B;
}

.top_nav a{
    line-height: 80px;
}



.globe {
    color: #33475B;
}

.nav_col_1, .nav_col_2{
    float: left;
    width: 50%;
}

/* Left side top navbar */
.nav_col_1{
    text-align: left;
}

.barra{
    padding: 0 10px;
}

.nav_col_1 a{
    font-size: 14px;
}


/* Right side top navbar */
.nav_col_2{
    text-align: right;
}

.search{
    height: 15px;
    vertical-align: middle;
}

.nav_col_2 a{
    line-height: 80px;
}


/* Bottom navbar */

.bot_nav{
    height: 80px;
    background-color: white;
    position: relative;
}

.bot_nav .logo{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.bot_nav_col_1, .bot_nav_col_2{
    width: 50%;
    float: left;
    height: 80px;
}

.bot_nav_col_2{
    text-align: right;
}

.bot_nav_col_2 a{
    font-size: 14px;
    line-height: 80px;
    padding: 0 10px;
}


/* Jumbotron */

.jumbotron{
    height: 608px;
    background-image: url(../assets/img/jumbotron.png);
    background-position: 50% 0%;
    border-bottom: 3px solid #33475B;
    background-color: #FFF4EE;
    background-repeat: no-repeat;
}


.hero_text{
    width: 50%;
    position: absolute;
    top: 60px;
}

.hero_text h1{
    font-size: 2.7rem;
 
}

.hero_text p{
    margin: 50px 0;

    font-size: 14px;
    line-height: 28px;
}

.hero_btn_full{
    background-color: #FE775A;
    color: white;
    padding: 20px 40px;
}

.hero_btn_full:hover{
    background-color: #F4F9FD;
    color: #FE775A;
    border: 1px solid #FE775A;
}

/*********
Main 
*********/
#site_main{
    background-color: #F4F9FD;
}

.light_blue_bar{
    height: 80px;
    background-color:#AFEBE4 ;
    border-bottom: 3px solid #33475B;
}

/* Cube section */
.cube{
    text-align: center;
}

.cube_img{
    height: 180px;
    margin-top: 50px;
}

.cube h2{
    font-size: 2rem;
}

.cube p{
    padding: 30px 0 ;
    line-height: 24px;
    font-size: 12px;
}

.row{
    width: 60%;
    margin: auto;
}

/* Large white card */
.large_card{
    background-color: white;
    height: 340px;
    border-radius: 5px;
    box-shadow: 0 0 3px 3px #ebf0f6;
}

.col_40, .col_60{
    float: left;
}

/* Left side large card */
.col_40{
    width: 40%;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.book{
    height: 100px;
    margin: 70px 0;
}

#learn_btn{
    margin: 30px 0;
    padding: 15px 30px;
}

/* Right side large card */

.col_60{
    width: 60%;
    text-align: left;
    padding-top: 60px;
}

.col_60 p{
    line-height: 20px;
    font-size: 12px;
    margin-top: 40px;
    padding-right: 110px;
}
.col_60 h3{
    font-size: 1rem;
}

.col_60 h4{
    padding: 30px 30px 30px 0;
    display: inline-block;
}

.col_60 h4::after{
    content: "";
    width: 260px;
    height: 2px;
    background-color: #33475B;
    display: inline-block;
    vertical-align: middle;
    margin-left: 40px;
}


.col_60 ul li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    font-size: 12px;
    margin-top: 20px;
}

.circle{
    background-color: #FE775A;
    padding: 2px;
    border-radius: 50%;
    margin-right: 10px;
    color: white;
    width: 18px;
    height: 18px;
    text-align: center;
    display: inline-block;
}

/* Three columns */

.three_col{
    height: 660px;
    margin: 45px 0
}

.col_3{
    height: 660px;
    width: 30%;
    float: left;
}

/* Top half of 3 col */
.top_half{
    height: 55%;
    text-align: center;
}

.top_half img{
    height: 100px;
    margin: 20px 0;
}

.col_3.left{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 3px 3px #ebf0f6;
}

.col_3.mid{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 3px 3px #ebf0f6;
    margin: 0px 5%;
   
}

.col_3.right{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 3px 3px #ebf0f6;
}

.col_3 p{
    margin-top: 40px;
    font-size: 14px;
    line-height: 28px;
    padding: 0 30px
}

.col_3 p::after{
    content: "";
    width: 250px;
    height: 2px;
    background-color: #33475B;
    display: block;
    margin: 50px auto;
}

/* Bottom half of 3 col */

.bot_half{
    height: 45%;
    text-align: center;
    position: relative;
}

.bot_half h4{
    padding: 50px 0 30px 0;
}

.bot_half ul{
    text-align: left;
    padding: 0 40px;
    font-size: 12px;
}

.bot_half ul li{
    list-style: none;
    font-size: 14px;
    display: inline-block;
}

.bot_half .btn{
    position: absolute;
    padding: 20px 30px;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
}

/* Linear gradient bg */

.linear{
    background: linear-gradient(90deg, #00A8B9 0%, #04D0BD 100%);
}

.row_3{
    text-align: center;
    color: white;
}

.row_3 img{
    height: 30px;
}
/* Top row */

.top_row h2{
    padding: 60px 60px 30px 60px;
    font-size: 1.7rem;
}

.top_row p{
    font-size: 14px;
    line-height: 28px;
    padding: 0 5px;
}

/* Mid and Bottom row */

.square{
    width: 25%;
    height: 170px;
    float: left;
    padding-top: 25px;
}

.mid_row{
    margin-top: 55px;
}

.mid_row .square.mid{
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

.mid_row .square.side{
    border-bottom: 1px solid white;
}

.bot_row .square.mid{
    border-right: 1px solid white;
    border-left: 1px solid white;
}   

.bot_row .square{
    margin-bottom: 90px;
}

.square h2{
    font-size: 2.5rem;
    margin-top: 15px;
}
.square h2::after{
    content: " +";
    font-size: 24px;
    vertical-align: middle;
    font-family: 'Montserrat', sans-serif;
}

.square p{
    font-size: 12px;
    line-height: 50px;
}

/* Partners section */

.partners{
    background-color: white;
}

.number, .logos{
    float: left;
    height: 270px;
}

.number{
    width: 40%;
    padding-top: 60px;
    text-align: left;
    padding-left: 60px;
}

.number h2{
    font-size: 3rem;
    margin-bottom: 40px;
}

.number p{
    font-size: 14px;
    line-height: 24px;
    padding-right: 200px;
}

/* Partners logos */

.logos{
    width: 60%;
}
.top_logos, .bot_logos{
    padding-left: 40px;
}

.logos .top_logos img, .bot_logos img{
    width: 20%;
    vertical-align: middle;
    padding: 0 5px;
}

.logos .top_logos img{
    margin: 80px 0 20px 0;
}

/* Start today */

.start_today{
    padding-right: 3%;
    margin-top: 40px;
}

.start_today h2{
    font-size: 2rem;
}

.start_today p{
    font-size: 14px;
    line-height: 28px;
    padding: 30px 0 50px 0;
}

.start_today .btn_full{
    font-size: 12px;
    padding: 15px 30px;
}

p.small{
    font-size: 12px;
    padding-top: 70px;
}

/* Picture of woman */

.big_pic, .start_today{
    float: left;
    width: 50%;
}

.big_pic{
    text-align: center;
    padding-bottom: 70px;
}

.big_pic img{
    height: 360px;
    margin-left: 200px;
}

/*********
Footer
*********/

#site_footer{
    background-color:#33475B;
    color: #F4F9FD;
}

.col_4{
    width: 25%;
    float: left;
    text-align: left;
    font-size: 14px;
    line-height: 28px;
    padding: 0 20px;
}

.col_4 h4{
    padding: 35px 0 25px 0;
    font-size: 1.2rem;
}

.col_4 ul{
    margin-bottom: 20px;
}

.col_4 ul li{
    list-style: none;
    font-size: 14px;
    padding-bottom: 5px;
}

.col_4 ul li a{
    color: #F4F9FD;
}

.btn_white{
    background-color: #F4F9FD;
    color: #33475B;
    text-align: center;
    padding: 10px 15px;
    border: 1px solid #F4F9FD;
}

.btn_white:hover{
    color: #F4F9FD;
    background-color: #33475B;
    border: 1px solid #F4F9FD;
}

.icons{
    margin-top: 20px;
}

.icons ul li{
    display: inline-block;
    font-size: 20px;
    padding-right: 15px;
}

.languages{
    text-align: center;
    float: left;
    width: 100%;
    margin-top: 20px;
}

.languages ul li{
    display: inline-block;
}

.languages ul li a{
    color: #F4F9FD;
    font-size: 14px;
    padding: 0 10px;
}

.languages hr{
    margin: 25px 0;
}

.copyright, .privacy{
    width: 50%;
    float: left;
}

.copyright{
    text-align: left;
    margin-bottom: 50px;
}

.copyright img{
    height: 30px;
}

.privacy{
    text-align: right;
}